@page "/admin/products/details/{id:long}"
<h3 class="bg-info text-white text-center p-1">Details</h3>
<table class="table table-sm table-bordered table-hover table">
    <tbody>
        <tr><th>ID</th><td>@Book.BookId</td></tr>
        <tr><th>Name</th><td>@Book.Title</td></tr>
        <tr><th>Author</th><td>@Book.Author</td></tr>
        <tr><th>Page Count</th><td>@Book.PageCount</td></tr>
        <tr><th>Price</th><td>@Book.Price.ToString("C")</td></tr>
        <tr><th>Publisher</th><td>@Book.Publisher</td></tr>
        <tr><th>Category</th><td>@Book.Category</td></tr>
        <tr><th>Classification</th><td>@Book.Classification</td></tr>
        <tr><th>Isbn</th><td>@Book.Isbn</td></tr>


    </tbody>
</table>
<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/products">Back</NavLink>
@code {
    [Inject]
    public IBookStoreRepository Repository { get; set; }
    [Parameter]
    public long Id { get; set; }
    public Book Book { get; set; }
    protected override void OnParametersSet()
    {
        Book = Repository.Books.FirstOrDefault(p => p.BookId == Id);
    }
    public string EditUrl => $"/admin/products/edit/{Book.BookId}";
}